absl-py
annotated-types
asgiref
astunparse
cachetools
certifi
charset-normalizer
colorama
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
flatbuffers
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h5py
httplib2
idna
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
proto-plus
protobuf
psycopg2
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydicom
Pygments
PyJWT
pyparsing
requests
rich
rsa
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
tqdm
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
wrapt
